.ab-bg-blue{
  background-color: #2C3D50;
}

.ab-bg-green{
  background-color: #31BC9C;
}

.ab-py-50{
  padding: 50px 0;
}

.ab-container-60{
  width: 60%;
  margin: 0 auto;
}

header{
  height: 80px;
  color: white;
}
.ab-jumbotrone{
  margin-top: 80px;
  color: white;
}
.ab-inner-jumbo{
  width: 800px;
  max-width: 80%;
  margin: 0 auto;
}

.ab-jumbo-img{
  width: 150px;
  margin: 0 auto;
}

.ab-jumbo-img img{
  width: 100%;
}

.ab-box{
  width: 100%;
  margin: 10px;
}

.about{
  color:white;
}

.ab-form{

}

.ab-footer-top{
  color: white;
  background-color: #39546D;
}

.ab-footer-bottom {
  padding: 30px 0;
  color: white;
  text-align: center;
}

.d-none.d-md-block ul{
  list-style: none;
  margin-bottom: 10px;
}

.d-none.d-md-block ul li a{
  text-decoration: none;
  color: white;
  float: right;
  margin-right: 10px;
  font-size: 13px;
}

.d-md-none.text-end i{
  border: solid 1px white;
  color: grey;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

.ab-py-50 .text-center h2{
  color: #2C3D50;
}

.ab-box img{
  width: 100%;
}

.about.ab-bg-green.ab-py-50 .text-center h2{
  color: white;
}

.ab-btn{
  border: 1px solid white;
  color: white;
}

.form-control{
  border: none;
  border-bottom: 1px solid lightgray;
}

.btn-acqua{
  background-color: #31BC9C;
  color: white;
}

#col-centrale span{
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px 8px;
}

#span-green{
  color: #31BC9C;
}

.ab-footer-bottom.ab-bg-blue{
  font-size: 10px;
}